@model iWasHere.Domain.Models.DictionaryCountry

@{
    ViewData["Title"] = "AddDictionaryCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width" />
        <div style="font-family: 'Source Sans Pro, sans-serif';">
            <h2>Add a new Country</h2>
        </div>
   

        <body>
           

            <div class="row" style="font-family: 'Source Sans Pro, sans-serif';">
                <div class="col-md-4">
                    <form asp-action="AddDictionaryCountry">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="CountryId" />
                            <label asp-for="CountryName" class="control-label"></label>
                            <input asp-for="CountryName" class="form-control" />
                            <span asp-validation-for="CountryName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CountryCode" class="control-label"></label>
                            <input asp-for="CountryCode" class="form-control" />
                            <span asp-validation-for="CountryCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-warning" value="Save" onclick="return goBack();" />
                            <input type="submit" name="btnAddNew" id="btnAddNew_id" value="Save & New" class="btn btn-warning" onclick="return empty();" />
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="return goBack1();" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Country">Back to List</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }


            <script>

            function GetSearchBoxText()
            {
            var newPeriod = $("#txtSearchString").val();
            var obj = {};
            obj["search"] = text;
            return obj;
            }

            var id = -1;
            var name = "NaN";
            var code = "NaN";


                    $(document).ready(function () {

                        var url_string = window.location.href;
                        var url = new URL(url_string);
                        id = url.searchParams.get("id");
                        code = url.searchParams.get("code");
                        name = url.searchParams.get("name");



                        document.getElementById("countryName").value = name != "null" ? name : "";
                        document.getElementById("countryCode").value = code ? code : "";


                        console.log(id, name, code);

                    })

                function changeGrid() {

                    console.log("changeGrid");
                    $.ajax({
                            type: 'UPDATE',
                            url: '@Url.Action("Edit", "Dictionary")',
                            data: {
                                id: id,
                                name: document.getElementById("countryName").value,
                                code: document.getElementById("countryCode").value

                            }
                    })
                }

                function goBack() {
                    $(document).on('submit', 'form', function () {

                        $.post('@Url.Content("/Dictionary/Country")', function () {

                    }).done(function () {
                        //if(name != "NaN")
                            //   changeGrid();
                        location.href = '@Url.Content("/Dictionary/Country")';

                    });


                    });
                    return true;
                }

                function empty() {
                        $(document).on('submit', 'form', function () {
                    $.post('@Url.Content("/Dictionary/Country")', function () {
                    }).done(function () {
                            location.href = '@Url.Content("/Dictionary/AddDictionaryCountry")';
                    });


                        });
                    return true;
                }

                function goBack1() {

                location.href = '@Url.Content("/Dictionary/Country")';
                };


            </script>
            <style>
                 .btn {
                background-color: #f4511e;
                border: none;
                color: white;
                padding: 10px 22px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 0.6;
                transition: 0.3s;
                 }

                .btn:hover {
                    opacity: 1;
                }

            
            </style>
        </body>