@model iWasHere.Domain.Models.DictionaryCity

@{
    ViewData["Title"] = "AddEditCity";
}

<h1>AddEditCity</h1>

<h4>DictionaryCity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEditCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CityId" />
            @(Html.Kendo().TextBox()
            .Name("custom")
            .HtmlAttributes(new { style = "width: 50%", title = "custom", id = "txtCityName" })
            )
            <div class="form-group">
                @(Html.Kendo().ComboBox()
         .Name("countiesCB")
         .Placeholder("Judet..")
         .DataTextField("CountyName")
         .DataValueField("CountyId")
         .HtmlAttributes(new { style = "width:100%;" })
         .Filter(FilterType.Contains)
         .AutoBind(false)
         .MinLength(3)
         .DataSource(source =>
         {
             source.Read(read =>
             {
                 read.Action("GetComboCounty", "Dictionary");
             })
             .ServerFiltering(true);
         })
                )
            </div>
            @(Html.Kendo().TextBox()
            .Name("custom")
            .HtmlAttributes(new { style = "width: 50%", title = "custom", id = "txtCityCode" })
            )

            @(Html.Kendo().Button()
                            .Name("btnSubmit")
                            .HtmlAttributes(new { type = "button" })
                            .Content("Save")
                            .Events(e => e.Click("addCity"))
            )
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function addCity() {
        var cityName = $("#txtCityName").val();
        var countyId = $("#countiesCB").val();
        var cityCode = $("#txtCityCode").val();

        AddCities(cityName, countyId, cityCode);
    }

      function AddCities(cityName,countyId,cityCode) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddCity", "Dictionary")',
                data: { cityName: cityName, cityCode: cityCode, countyId: countyId },
                success: function (response) {
                    alert("Element adaugat");
                  
                },
                error: function (response) {
                    alert("Not good");
                }


            })
        }
    

</script>