@model iWasHere.Domain.Models.DictionaryCurrencyType

@{
    ViewData["Title"] = "AddDictionaryCurrencyType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Currency Type</title>
</head>
<body>

    <h4>Currency Form</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
            <form asp-action="AddEditCurrency">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <div class="form-group col-md-6">
                   
                    <input type="hidden" asp-for="CurrencyTypeId" />

                    <label asp-for="CurrencyName" class="control-label"></label>
                    <input asp-for="CurrencyName" class="form-control" id="currencyName" />
                    <span asp-validation-for="CurrencyName" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="CurrencyCode" class="control-label"></label>
                        <input asp-for="CurrencyCode" class="form-control" id="currencyCode" />
                        <span asp-validation-for="CurrencyCode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CurrencyExRate" class="control-label"></label>
                        <input asp-for="CurrencyExRate" class="form-control" id="currencyRate" />
                        <span asp-validation-for="CurrencyExRate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value="Add / Edit" onclick="return goBack();" />
                    <input type="submit" name="btnAddNew" id="btnAddNew_id" value="Add & New" class="btn btn-warning" onclick="return empty();" />
                    <input type="button" class="btn btn-danger" value="Cancel" onclick="return cancel();" />

                </div>
            </form>
        </div>
    </div>

    @*<div>
        <a asp-action="Currency">Back to List</a>
    </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>

            //var id = -1;
            //var code = "NaN";
            //var name = "NaN";
            //var rate = -1;

            //   $(document).ready(function () {

            //        var url_string = window.location.href;
            //        var url = new URL(url_string);
            //       id = url.searchParams.get("id");
            //       code = url.searchParams.get("typeID");
            //       name = url.searchParams.get("name");
            //       rate = url.searchParams.get("code");

            //       document.getElementById("currencyCode").value = code ? code : "";
            //       document.getElementById("currencyName").value = name != "null" ? name : "";
            //       document.getElementById("currencyRate").value = rate ? rate : "";

            //       console.log(id, code, name, rate);

            //   })

            @*function changeGrid() {

                console.log("changeGrid");
                $.ajax({
                        type: 'UPDATE',
                        url: '@Url.Action("iEdit", "Dictionary")',
                        data: {
                            id: id,
                            code: document.getElementById("currencyCode").value,
                            name: document.getElementById("currencyName").value,
                            rate: document.getElementById("currencyRate").value
                        }
                    })
            }*@

            function goBack() {
                $(document).on('submit', 'form', function () {
                    $.post('@Url.Content("/Dictionary/Currency")', function () { // urlPost, function
                    }).done(function () {
                   location.href = '@Url.Content("/Dictionary/Currency")';
                    
                });


                });
                return true;
            }

            function empty() {
                 $(document).on('submit', 'form', function () {
                $.post('@Url.Content("/Dictionary/Currency")', function () { // urlPost, function
                }).done(function () {
                       location.href = '@Url.Content("/Dictionary/AddEditCurrency")';
                });


                });
                return true;
            }

            function cancel() {

             location.href = '@Url.Content("/Dictionary/Currency")';

               };
        </script>
    }


</body>
</html>
