@model iWasHere.Domain.Models.DictionaryCounty

@{
    ViewData["Title"] = "Adauga Judet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add County</title>
</head>

    <h4>DictionaryCounty</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Add County">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CountyId" />
                County Name
                @(Html.Kendo().TextBox()
                    .Name("custom")
                    .HtmlAttributes(new { style = "width: 50%", title = "custom", id = "txtCountyName" })
                )
                <div class="form-group">
                    <label class="control-label">Country:</label>
                    @(Html.Kendo().ComboBoxFor(model => model.CountryId)
                    .Placeholder("Country")
                    .DataTextField("CountryName")
                    .DataValueField("CountryId")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .Filter(FilterType.Contains)
                    .AutoBind(false)
                    .MinLength(1)
                    //.Text(Model.CountryName)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetComboCountry", "Dictionary");
                        })
                        .ServerFiltering(true);
                    }))
                </div>
                County Code
                @(Html.Kendo().TextBox()
                .Name("custom")
                .HtmlAttributes(new { style = "width: 50%", title = "custom", id = "txtCountyCode" })
                )

                @(Html.Kendo().Button()
                                .Name("btnSubmit")
                                .HtmlAttributes(new { type = "button" })
                                .Content("Save")
                                .Events(e => e.Click("addCounty"))
                )

                <div class="form-row">
                    @*<div class="form-group col-md-6">
                        <input type="submit" value="Salveaza" class="btn btn-primary btn-block" id="Save" />
                    </div>*@
                    <div class="form-group col-md-6">
                        <a asp-action="County" class="btn btn-secondary btn-block">Renunta/Inapoi</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @*<div>
        <a asp-action="County">Back to List</a>
    </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
<script>

       function addCounty() {
        var countyName = $("#txtCountyName").val();
        var countryId = $("#countriesCB").val();
        var countyCode = $("#txtCountyCode").val();

        AddCounties(countyName, countryId, countyCode);
        }

      function AddCounties(countyName,countryId,countyCode) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddCounty", "Dictionary")',
                data: { countyName: countyName, countyCode: countyCode, countryId: countryId },
                success: function (response) {
                    alert("Element adaugat cu succes");

                },
                error: function (response) {
                    alert("Eroare la adaugarea elementului");
                }

            })
      }

      @*function empty() {
              $(document).on('submit', 'form', function () {
          $.post('@Url.Content("/Dictionary/County")', function () { 
          }).done(function () {
                  location.href = '@Url.Content("/Dictionary/AddEditCounty")';
          });
  
  
          });
          return true;
      }*@

     function redirect() {
 
          location.href = '@Url.Content("/Dictionary/County")';
     };

     </script>
     </script>

