@*@model IEnumerable<iWasHere.Domain.DTOs.DictionaryCityModel>

    @{
        ViewData["Title"] = "City";
    }

    <h1>City</h1>

    <body>

        <div class="demo-section k-content">
            <div>

                <p>

                    @(Html.Kendo().TextBox()
                  .Name("citiesTextBox")
                  .HtmlAttributes(new { style = "width: 20%", title = "" })
                    )

                    @(Html.Kendo().Button()
                            .Name("textButton")
                            .HtmlAttributes(new { type = "button" })
                            .Content("Filter")
                            .Events(ev => ev.Click("onClick"))
                    )

                </p>
            </div>
        </div>

        @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryCity>
        ()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.CityName).Width(140);
            columns.Bound(c => c.CityCode).Width(190);
            columns.Command(c => {
                c.Custom("EditRecord").Text("Edit");
            });


        })
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        // .Groupable()
        //.Sortable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("Cities_Read", "Dictionary"))
        )
        )

        <script>
            function onClick(e) {

            }

        </script>



    </body>*@


@model IEnumerable<iWasHere.Domain.DTOs.DictionaryCityModel>



@{
    ViewData["Title"] = "Ditctionar Orase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cities</title>
</head>
<body>
    <p>
        <a asp-action="AddEditCity">Create New</a>
    </p>
 
    <div class="row">
        @(Html.Kendo().TextBox()
           .Name("custom")
           .HtmlAttributes(new { style = "width: 50%", title = "custom", id = "txtFilter" })
        )
        @(Html.Kendo().Button()
                        .Name("btnSubmit")
                        .HtmlAttributes(new { type = "button" })
                        .Content("Filter")
                        .Events(e => e.Click("DisplayData"))
        )
       </div>
    <div>
        @(Html.Kendo().ComboBox()
         .Name("county")
         .Placeholder("Judet..")
         .DataTextField("CountyName")
         .DataValueField("CountyId")
         .HtmlAttributes(new { style = "width:100%;" })
         .Filter(FilterType.Contains)
         .AutoBind(false)
         .MinLength(1)
         .DataSource(source =>
         {
             source.Read(read =>
             {
                 read.Action("GetComboCounty", "Dictionary");
             })
             .ServerFiltering(true);
         })
         )
    </div>
    @(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCityModel>()
          .Name("grid")
          .HtmlAttributes(new { style = "height: 500px", id = "grdCities" })
          .Columns(columns =>
            {
                columns.Bound(p => p.CityId).Hidden();
                columns.Bound(p => p.CityName);
                columns.Bound(p => p.CityCode);
                columns.Command(c =>
                        {
                c.Custom("EditRecord").Text("Edit").Click("dgChange");
            });
            })
          .Scrollable()
         // .Groupable()
          .Sortable()
          .Filterable()
          .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("GetCities", "Dictionary").Data("myFunction"))
              .Update(update => update.Action("AddEditCity", "Grid"))
          )
    )





</body>
<script>



    function DisplayData() {
        $("#grdCities").data("kendoGrid").dataSource.read()




        
    }
    function dgChange(e) {
        grid = $("#grdCities").data("kendoGrid");
        var row = e.currentTarget.closest("tr").cells[0].outerText;



    }



    function myFunction() {
        var filter = $("#txtFilter").val();
        var obj = {};
        obj["lFilter"] = filter;
        return obj;
    }
</script>
</html>