
@model IEnumerable<iWasHere.Domain.DTOs.DictionaryCityModel>



@{
    ViewData["Title"] = "Dictionary City";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cities</title>
</head>
<body>
   
    
        
    <p>
        <label>City Name:</label>
        @(Html.Kendo().TextBox()
          .Name("custom")
          .HtmlAttributes(new { style = "width: 31%", title = "custom", id = "txtFilter" })
        )
    </p>
    <p>
        <label>County:</label>
        @(Html.Kendo().ComboBox()
    .Name("countiesCB")
    .Placeholder("Judet..")
    .DataTextField("CountyName")
    .DataValueField("CountyId")
    .HtmlAttributes(new { style = "width:33%;" })
    .Filter(FilterType.Contains)
    .AutoBind(false)
    .MinLength(3)
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("GetComboCounty", "Dictionary");
        })
        .ServerFiltering(true);
    })
        )
    </p>

    <p>

        @(Html.Kendo().Button()
                       .Name("btnSubmit")
                       .HtmlAttributes(new { type = "button", @class = "k-primary" })
                       .Content("Filter")
                       .Events(e => e.Click("DisplayData"))
        )

        @(Html.Kendo().Button()
           .Name("clearFilter")
           .Icon("clear-filter")
           .Content("Delete Filters")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Events(e => e.Click("delFilters"))
        )

        @(Html.Kendo().Button()
   .Name("createButton")
   .Content("Create New")
   .HtmlAttributes(new { type = "button", @class = "k-primary" })
   .Events(ev => ev.Click("createNew")))

    </p>
 
    

    @(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCityModel>()
          .Name("grid")
          .HtmlAttributes(new { style = "height: 500px", id = "grdCities" })
          .Columns(columns =>
          {
              columns.Bound(p => p.CityId).Hidden();
              columns.Bound(p => p.CityName);
              columns.Bound(p => p.CityCode);
              columns.Command(c =>
              {
                  c.Custom("Delete").Text("Delete").Click("getCityId");
                  c.Custom("EditRecord").Text("Edit").Click("dgChange");
              });


          })
          .Scrollable()
          // .Groupable()
          .Sortable()
          .Filterable()
          .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("GetCities", "Dictionary").Data("myFunction"))
              .Destroy(d => d.Action("DeleteCity", "Dictionary"))

          )
    )

    <script>
        function createNew() {
            window.location = '/Dictionary/AddDictionaryCity'
        }
        function myFunction() {
            var filter = $("#txtFilter").val();
            var countyFilter = $("#countiesCB").val();
            var obj = {};
            obj["lFilter"] = filter;
            obj["text"] = countyFilter;
            return obj;
        }
    </script>
    <script>
        function DisplayData() {
            $("#grdCities").data("kendoGrid").dataSource.read()
            $("#grdCities").data("kendoGrid").dataSource.page(1);
        }
    </script>
    <script>
        function dgChange(e) {

            var row = e.currentTarget.closest("tr").cells[0].outerText;

            grid = $("#grdCities").data("kendoGrid");
            var row = e.currentTarget.closest("tr").cells[0].outerText;
            window.location = '/Dictionary/EditDictionaryCity?id=' + row


        }
    </script>
    <script>

        function getCityId(e) {


            grid = $("#grdCities").data("kendoGrid");
            var id = e.currentTarget.closest("tr").cells[0].outerText;
            deleteRowCity(id);
        }
    </script>
    <script>
        function deleteRowCity(id) {
            $.ajax({
                type: 'DELETE',
                url: '@Url.Action("DeleteCity", "Dictionary")',
                data: { id: id },
                success: function (response) {
                    alert("Element sters cu success");
                    
                    $("#grdCities").data("kendoGrid").dataSource.read();
                },
                error: function (response) {
                    alert("Not good");
                }


            })
        }

                function delFilters() {

                    $("#txtFilter").val(null);
                    $("#countiesCB").data("kendoComboBox").value("");
                    $("#grdCities").data("kendoGrid").dataSource.read();
                    $("#grdCities").data("kendoGrid").dataSource.page(1);
                }
    </script>

    <style>
        .k-primary{
            min-width:200px;
        }
    </style>

</body>

</html>






