@model IEnumerable<iWasHere.Domain.Models.DictionaryCounty>

@{
    ViewData["Title"] = "County";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>County</title>
</head>
<body>
    <p>
        <a asp-action="AddEditCounty">Create New</a>
    </p>

    <div class="row">
        <td>
            <label for="filterTXT">Nume Judet:</label>
        </td>
        @(Html.Kendo().TextBox()
             .Name("custom")
             .HtmlAttributes(new { style = "width: 100%", title = "custom", id = "txtFilter" })
        )

    </div>

    <div>
        <td>
            <label for="countriesCB">Nume Tara:</label>
        </td>
        <td>

            @(Html.Kendo().ComboBox()
             .Name("countriesCB")
             .Placeholder("Tara")
             .DataTextField("CountryName")
             .DataValueField("CountryId")
             .HtmlAttributes(new { style = "width:100%;" })
             .Filter(FilterType.Contains)
             .AutoBind(false)
             .MinLength(1)
             .DataSource(source =>
             {
                 source.Read(read =>
                 {
                     read.Action("GetComboCountry", "Dictionary");
                 })
                 .ServerFiltering(true);
             })
            )
        </td>
        <td>
            @(Html.Kendo().Button()
                       .Name("btnSubmit")
                       .Icon("filter")
                       .HtmlAttributes(new { style = "background-color:rgb(255, 153, 0); color:white"})
                       .Content("Filter")
                       .Events(e => e.Click("DisplayData"))
            )
            @(Html.Kendo().Button()
                .Name("clearFilter")
                .Icon("filter-clear")
                .HtmlAttributes(new {  style = "background-color:rgb(220, 53, 69); color:white"})
                .Content("Sterge Filtru")
                .Events(e => e.Click("delFilters"))
            )
        </td>
    </div>

    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryCounty>()
          .Name("grid")
          .HtmlAttributes(new { style = "height: 500px", id = "grdCounty" })
          .Columns(columns =>
          {
              columns.Bound(p => p.CountyId).Hidden();
              columns.Bound(p => p.CountyName);
              columns.Bound(p => p.CountyCode);
              columns.Bound(p => p.CountryId).Hidden();
              columns.Command(c =>
              {
                  c.Custom("EditRecord").Text("Edit").Click("dgChange").HtmlAttributes(new {style = "background-color:rgb(255, 153, 0); color:white" });
                  c.Custom("DeleteRecord").Text("Delete").Click("getCountyId").HtmlAttributes(new {  style = "background-color:rgb(220, 53, 69); color:white"});
              });
          })
          .Scrollable()
          .Groupable()
          .Sortable()
          .Filterable()
          .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("GetCounty", "Dictionary").Data("myFunction"))
              .Update(update => update.Action("AddEditCounty", "Grid"))
          )
    )

</body>
<script>

    function DisplayData() {
        $("#grdCounty").data("kendoGrid").dataSource.read()
    }

    function dgChange(e) {
        grid = $("#grdCounty").data("kendoGrid");
        var row = e.currentTarget.closest("tr").cells[0].outerText;
        window.location = '/Dictionary/AddEditCounty?id=' + row
    }

    function delFilters() {
        $("#txtFilter").val(null);
        $("#countriesCB").data("kendoComboBox").value("");
        $('#grdCounty').data("kendoGrid").dataSource.read();
        $('#grdCounty').data("kendoGrid").dataSource.page(1);
    }

    function deleteCounty(id) {
        $.ajax({
            type: 'DELETE',
            url: '@Url.Action("DeleteCounty", "Dictionary")',
            data: { id: id },
            success: function (response) {
                $("#grdCounty").data("kendoGrid").dataSource.read();
            },
                error: function (response) {
                    alert("Ceva nu merge...");
            }
        })
    }

    function getCountyId(e) {
            grid = $("#grdCounty").data("kendoGrid");
            var id = e.currentTarget.closest("tr").cells[0].outerText;
            deleteCounty(id);
        }

    function myFunction() {
        var filter = $("#txtFilter").val();
        var countryFilter = $("#countriesCB").val();
        var obj = {};
        obj["lFilter"] = filter;
        obj["text"] = countryFilter;
        return obj;
    }

</script>

</html>
