@model IEnumerable<iWasHere.Domain.Models.DictionaryCurrencyType>

@{
    ViewData["Title"] = "Currency";
}

<h1>Currency</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyExRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyExRate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CurrencyTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CurrencyTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CurrencyTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
