@model iWasHere.Domain.DTOs.LandmarkModel

@{
    ViewData["Title"] = "LandmarkDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @Html.DisplayFor(model => model.LandmarkName)</h1>

<div>
    <h4> @Html.DisplayFor(model => model.LandmarkType.DictionaryItemName)</h4>
    <hr />

    <div>
        <div style="margin-left:400px">
            <aside>
                <div id="googleMap" style="width:80%;height:300px;" class="map-container"></div>

            </aside>
        </div>
        <div>
            <dt class="col-sm-2">
                <label>Availability:</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LandmarkPeriodName)
            </dd>
            <dt class="col-sm-2">
                <label>City:</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City.CityName)
            </dd>
            <p>
                <dt class="col-sm-2">
                    <label>Entry Fees:</label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LandmarkTicket)
                </dd>
                @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LandmarkCode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LandmarkCode)*@
                </dd>
                <dt class="col-sm-2">
                    <label>Student Price:</label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StudentPrice)
                </dd>
                <dt class="col-sm-2">
                    <label>Adult Price:</label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AdultPrice)
                </dd>
                <dt class="col-sm-2">
                    <label>Retired Price:</label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RetiredPrice)
                </dd>


                <dt class="col-sm-2">
                    <label>Description:</label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LandmarkDescription)
                </dd>
        </div>
        <dt class="col-sm-2">
            <label>Pictures:</label>
        </dt>
        
        @foreach (var img in Model.Pictures)
        {
            <div>
                <img src="@Url.Content("~/images/"+img.PictureName)" width="1000" />
            </div>
        }



    </div>
         

    @*<div class="w3-row-padding w3-margin-top">
        @foreach (var img in Model.Pictures)
        {
        <div class="w3-third">
            <div class="w3-card">
                <img src="@Url.Content("~/images/"+img.PictureName)" style="width:50%">
                
            </div>
        </div>

        }

    </div>*@


</div>

<script>
    var map;
    var markers = [];
    function myMap() {
        var startLatLng = { lat: 44.4894, lng: 26.1267 };
        map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 12,
            center: startLatLng,
        });

        map.addListener('click', function (event) {
            clearMarkers();
            addMarker(event.latLng);
            document.getElementById("Latitude").value = event.latLng.lat();
            document.getElementById("Longitude").value = event.latLng.lng();
        });

        addMarker(startLatLng);
    }

    function addMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        markers.push(marker);
    }

    function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    function clearMarkers() {
        setMapOnAll(null);
    }

    function showMarkers() {
        setMapOnAll(map);
    }

    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB96GQdBEPcmWURd_56ln3yLHQGLoMPCfs&callback=myMap"></script>

<style>
    aside {
    width: 80%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}
    aside > p {
    margin: .5rem;
}

</style>