@model iWasHere.Domain.DTOs.LandmarkModel

@{
    ViewData["Title"] = "LandmarkDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @Html.DisplayFor(model => model.LandmarkName)</h1>

<div>
    <h4> @Html.DisplayFor(model => model.LandmarkType.DictionaryItemName)</h4>
    <hr />



    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LandmarkTicket)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LandmarkTicket)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LandmarkCode)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LandmarkCode)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.StudentPrice)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.StudentPrice)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AdultPrice)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AdultPrice)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RetiredPrice)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RetiredPrice)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LandmarkPeriodName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LandmarkPeriodName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.City)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.City.CityName)
    </dd>

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LandmarkPeriod.LandmarkPeriodName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LandmarkDescription)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LandmarkDescription)
    </dd>

    <div class="w3-card w3-margin w3-margin-top">

        <div id="googleMap" style="width:50%;height:400px;" class="map-container"></div>
    </div><hr>

    @*@foreach (var img in Model.Pictures)
    {
        <div>
            <img src="@Url.Content("~/images/"+img.PictureName)" width="1000" />
        </div>
    }*@


    <div class="w3-row-padding w3-margin-top">
        @foreach (var img in Model.Pictures)
        {
        <div class="w3-third">
            <div class="w3-card">
                <img src="@Url.Content("~/images/"+img.PictureName)" style="width:50%">
                
            </div>
        </div>

        }

    </div>


</div>

<script>
    var map;
    var markers = [];
    function myMap() {
        var startLatLng = { lat: 44.4894, lng: 26.1267 };
        map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 12,
            center: startLatLng,
        });

        map.addListener('click', function (event) {
            clearMarkers();
            addMarker(event.latLng);
            document.getElementById("Latitude").value = event.latLng.lat();
            document.getElementById("Longitude").value = event.latLng.lng();
        });

        addMarker(startLatLng);
    }

    function addMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        markers.push(marker);
    }

    function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    function clearMarkers() {
        setMapOnAll(null);
    }

    function showMarkers() {
        setMapOnAll(map);
    }

    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB96GQdBEPcmWURd_56ln3yLHQGLoMPCfs&callback=myMap"></script>
