@model IEnumerable<iWasHere.Domain.Models.DictionaryTicketType>

@{
    ViewData["Title"] = "List TicketTypes";
}

    <body>
        <br />
        <h4>See the full list of ticket types for team Marvel below</h4>
        <hr />
        <div>
            <p>
                Please insert ticket type below and press "Filter" to find the appropiate data
                <div align="left">
                    @(Html.Kendo().TextBox()
                       .Name("ktxtFilter")
                       .HtmlAttributes(new { style = "width: 25%", title = "userInput", id = "txtFilter" })
                    )

                    @(Html.Kendo().Button()
                            .Name("btnFilter")
                            .Icon("filter")
                            .HtmlAttributes(new { type = "button" })
                            .Content("Filter")
                            .Events(e => e.Click("DisplayData"))
                            .HtmlAttributes(new { style = "background-color:rgb(255, 153, 0); color:white" })

                    )

                    @(Html.Kendo().Button()
                           .Name("btnDeleteFilter")
                           .Tag("a")
                           .Icon("filter-clear")
                           .Content("Clear Filter")
                           .Events(e => e.Click("ClearFilter"))
                           .HtmlAttributes(new { style = "background-color:rgb(220, 53, 69); color:white" })
                    )

                    @(Html.Kendo().Button()
                   .Name("btnAdd")
                   .Tag("a")
                   .Icon("k-icon k-i-plus-circle")
                   .Content("Add new ticket type")
                   .Events(e => e.Click("addTicket"))
                   .HtmlAttributes(new {  style = "background-color:rgb(255, 153, 0); color:white", title = "custom", id = "ADD" })
                    )
                </div>

            </p>



            @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryTicketType>
            ()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.TicketTypeId).Hidden();
                columns.Bound(c => c.TicketTypeName);
                columns.Template("<a href='" + @Url.Action("AddEditTicketType", "Dictionary") + "?id=#=TicketTypeId#' class='btn btn-warning'>Edit</a>");
                columns.Template("<button class='btn btn-danger' onclick=deleteData(#=TicketTypeId#)>Delete</button>");
            })
            .Editable(editable =>
        editable.Mode(GridEditMode.PopUp))
        .HtmlAttributes(new { style = "height: 500px", id = "gridTicketType" })
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("TicketType_Read", "Dictionary").Data("filterFunction"))

        )
            )
        </div>
    </body>

<script type="text/javascript">

    function DisplayData() {
        $("#gridTicketType").data("kendoGrid").dataSource.read();
        $("#gridTicketType").data("kendoGrid").dataSource.page(1);
    }

    function filterFunction() {
        var filter = $("#txtFilter").val();
        var obj = {};
        obj["FilterTicketType"] = filter;
        return obj;
    }

    function ClearFilter() {
        $('#txtFilter').val(null);

        $('#gridTicketType').data("kendoGrid").dataSource.read();
        $('#gridTicketType').data("kendoGrid").dataSource.page(1);
    }

    //redirect
    function addTicket() {
        window.location = '/Dictionary/AddEditTicketType';
    }


    function deleteData(id) {
        if (confirm("This action will delete the selected row.")) {
            $.ajax({
                type: 'DELETE',
                url: '@Url.Action("DeleteTicketType", "Dictionary")',
                data: { id: id },
                success: function (response) {
                    $("#gridTicketType").data("kendoGrid").dataSource.read();
                }
            })
        }
    }

</script>